<ng-container>
  <div *ngIf="(user$ | async) as user" class="user-card">
    <button tuiButton appearance="flat" size="s" (click)="goHome()">
      <tui-svg
        src="tuiIconArrowLeft"
      >
      </tui-svg>
    </button>
    <div class="tui-row tui-row_align_center">
      <div class="tui-col_2">
        <figure class="tui-col_12 tui-island__figure figure">
          <div class="some-figure tui-space_right-2"></div>
        </figure>
      </div>
      <div class="tui-col_6">
        <div class="tui-text_h4">{{ user.name }}</div>
        <span>({{ user.username }})</span>
      </div>
    </div>
    <tui-island class="tui-space_vertical-5">
      <div class="tui-island__content">
        <div class="tui-col_12">
          <div>E-mail: {{ user.email }}</div>
          <div>Phone: {{ user.phone }}</div>
          <div>Company: {{ user.company?.name }}</div>
          <div>Address: {{ user.address?.city }}, {{ user.address?.street }}</div>
        </div>
      </div>
    </tui-island>
  </div>
</ng-container>
