<ng-container class="tui-col_12">
  <tui-island [hoverable]="true" textAlign="center" class="tui-space_vertical-5">
    <div class="tui-island__content">
      <div class="tui-island__title">
        {{ post.title }}
      </div>
      <p class="tui-island__paragraph tui-space_vertical-5">
        {{ post.body }}
      </p>
      <div *ngIf="user" class="tui-row">
        <div class="tui-col_12">
          <a
            tuiButton
            appearance="flat"
            [routerLink]="'/users/' + [user.id]"
          >
            <figure class="tui-col_12 tui-island__figure tui-row_align_center figure">
              <div class="some-figure tui-space_right-2"></div>
              <figcaption>
                {{ user.name }}
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </tui-island>
</ng-container>
